.volumeContainer {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Cartograph;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  color: #cec2d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
