.effectControl {
  background-color: hsl(220, 13%, 18%);
  padding: 1rem;
  border-radius: 8px;
  max-height: fit-content;
}

.effectHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.effectHeader span {
  color: hsl(220, 13%, 90%);
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.ledIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: hsl(220, 13%, 30%);
  transition: background-color 0.2s ease;
  margin-left: 4px;
  margin-bottom: 2px;
}

.ledIndicator.active {
  background-color: hsl(220, 70%, 55%);
}

.toggleSwitch {
  position: relative;
  display: none;
  width: 32px;
  height: 12px;
  margin-left: 4px;
  margin-bottom: 2px;
  transition: opacity 0.2s ease;
}

[data-state="active"] .toggleSwitch {
  display: inline-block;
}

[data-state="active"] .ledIndicator {
  display: none;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(220, 13%, 30%);
  transition: 0.2s;
  border-radius: 16px;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  background-color: hsl(220, 13%, 90%);
  transition: 0.2s;
  border-radius: 50%;
}

input:checked + .toggleSlider {
  background-color: hsl(220, 70%, 55%);
}

input:checked + .toggleSlider:before {
  transform: translateX(16px);
}

.effectKnobs {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
