body {
  background-size: 400% 400%;
  background-image: linear-gradient(
    30deg,
    hsl(280, 40%, 0%),
    hsl(280, 40%, 10%)
  );
  font-family: Cartograph;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  color: #cec2d6;
}
