.effectContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.effectLabel {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #cec2d6;
}

.effectControls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
