.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 165px;
  max-width: 100%;
  height: 20px;
}

.SliderTrack {
  background-color: hsl(0, 0%, 10%);
  position: relative;
  flex-grow: 1;
  border-radius: 3px;
  height: 6px;
}

.SliderRange {
  position: absolute;
  box-shadow: black 0px 1px 2px inset;
  background-color: hsl(285, 84%, 66%);
  border-radius: 3px;
  height: 6px;
}

.SliderThumb {
  display: block;
  width: 10px;
  height: 20px;
  background: repeating-linear-gradient(
        rgba(40, 31, 46, 0.3) 0px,
        rgba(40, 31, 46, 0.3) 1px,
        transparent 1px,
        transparent 2px
      )
      center 4px / calc(100% - 5px) 8px no-repeat,
    radial-gradient(
        180% 78% at 50% 27.5%,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 60%,
        rgb(139, 116, 162) 70%,
        rgb(142, 124, 160) 79%,
        rgb(142, 124, 160) 90%
      )
      center center / 100% 100%;
  box-shadow: rgb(48, 31, 63) 0px 0px 3px inset;
  background-position: center 4px, center center;
  border-radius: 2px;
}

.SliderThumb:focus {
  outline: none;
}
